.s-compare {
	// position: relative;
  &.section{
    padding-top: 20px;
  }
	&__btn{
		@include media-breakpoint-down(xs) {
			// font-size: 10px;
			font-size: 12px;
			padding: .21rem .3rem;
		}
	}
	&__body-btn{
		@include media-breakpoint-up(lg) {

			padding-top: 15px;
		}
		padding-top: 5px;
		padding-bottom: 15px;
	}
	&__btn-body{
		@extend .btn;
		@extend .btn-outline-gray;
		@include media-breakpoint-down(xs) {
			font-size: 10px;
			padding: .21rem .25rem;
		}
		&--active{
			background-color: $primary-l !important;
			border-color:  $primary-l !important;
			color: #ffffff;
		}
	}

	.col{
		position: relative;
		z-index: 10;
		background-color: #ffffff;
		&::before{
			content: '';
			position: absolute;
			right: 99%;
			width: 10000vw;
			height: 100%;
			background-color: #ffffff;
			z-index: -1;
		}
	}
	&__head{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		position: relative;
		z-index: 2;
		padding-top: 10px;
	}
	&__btn-head{
		// @include btn
		@extend .btn;
		@include media-breakpoint-up(sm) {

			width: 143px;
		}
		width: 120px;
        height: 60px;
		//height: 44px;
		border-radius: 5px 5px 0  0;
		border: 1px solid #e1e1e1;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: $small;
		color: #000000;
		background-color: #ffffff;
		margin-bottom: -1px;

		margin-right: rem(-5);
		@include mt;
		&:hover,
		&--active{
			background-color: $primary-l;
			border-color:  $primary-l;
			color: #ffffff;
		}
	}
			&__btn-delete-all{
				position: relative;
				display: inline-flex;
				align-items: center;
				font-size: $small;
				border: none;
				background: none;
				cursor: pointer;
				padding-left: 0;
				.icon{
					font-size: 11px;
					margin-right: 1em;
				}
			}
	.swiper-wrapper{

		transform: none   !important;
		will-change: position, transform;
	}
	&__slider{
		position: relative;
		display: flex;
		overflow: inherit;
		&::before{
			content: '';

			width: 10000px;
			// background-color: #ffffff;
			right: 100%;
			width: 1000px;
			height: 100%;
			position: absolute;
			z-index: 100;
		}
	}
	&__item{
	}

	&__slide{
		@include media-breakpoint-up(sm) {

			width: 224px;
		}
		width: 170px;


	 background-color: #fff;
	}
	.item-prod{
			&__title{
				@include media-breakpoint-up(lg) {

					font-size: $h6-font-size;
				}
				font-size: $em-base;
			}
	}
	&__group{
		position: relative;
		// min-width: 56px;

		@include media-breakpoint-up(lg){

			align-items: center;
			display: flex;
		}
		min-height: 58px;
		&::before{
			content: '';
			position: absolute;
			right: 99%;
			width: 1000vw;
			background-color: #f7f7f7;
			height: calc(100% + 2px);
			z-index: -1;
			top: -1px;
			border-top: 1px solid rgba($color: #cbd7e5, $alpha: .5);
			border-bottom: 1px solid rgba($color: #cbd7e5, $alpha: .5);

		}


		&:not(:first-child){

			border-top: 1px solid rgba($color: #cbd7e5, $alpha: .5);
		}
		padding-top: 6px;
		padding-bottom: 6px;
		@include media-breakpoint-up(sm) {

			padding-right: 40px;
		}
		padding-left: 5px;
		padding-right: 5px;
		@include mt;
		background-color: #f7f7f7;
		padding-left: 10px;
		&.hover
		// &.hover
		{
			background-color: #f4f7fb;
		}

		small{
			display: block;
			margin-bottom: .5em;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	// &__slide:first-child &__group{
	// 	&::before{

	// 	}
	// }
	.slick-list {
		overflow: inherit;

	}

	&__foot{
		border-top: 1px solid rgba($color: #cbd7e5, $alpha: .5);
		padding-bottom: 15px;
		padding-top: 15px;
	}
	&__btn{
		min-width: 126px;
      margin-left: 5px;
      margin-right: 5px;
	}

	.is_stuck{
		.slick-arrow {
		top: 10px;
	}
	}
	.slick-arrow {
		position: absolute;
		top: -90px;

		// top: 20px;
		// transform: none   !important;
		// margin-right: 20px;
		// font-size: 36px;
		margin-top: 0;
		z-index: 2;
		cursor: pointer;
		width: rem(44px);
		height: rem(44px);
		line-height: rem(58px);

		vertical-align: middle;
		border-radius: 2px;

		text-align: center;
		border-radius: 50%;

		&.l {
			right: 0;
		}

		&.r {
			left: auto;
			right: 0;
			margin-right: 60px;

		}

		svg {
			width: 15px * 2;
			height: 15px * 2;
			fill:  #fff;
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) { }


	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		.slick-arrow{
			display: none !important;
		}
	}
	@include media-breakpoint-down(xs) {}

	&__slider--foot-js{

		.slick-arrow{
			display: none !important;
		}
	}
	&__slider--head-js{
	}
	&__body{
		// position: relative;
	}
	.item-prod{
	// top: -1px;
		// position: sticky !important;
		// will-change: position, transform;
		&--compare{
			padding-right: 54px;
			padding-left: 10px;
		}
	}
	&__slider-wrap{
		position: relative;
		background-color: #ffffff;
		z-index: 200;
		padding-top: 10px;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 6px;
			background: linear-gradient(to bottom, rgba(175, 179, 187, .6) 0%,rgba(175, 179, 187, 0) 100%);
			opacity: 0;
			@include mt;
		}
		&.is_stuck{
			&::before{
				opacity: 1;

			}
			@include media-breakpoint-down(md) {
				.item-prod__img-wrap,
				.item-prod__price-wrap{
					display: none;
				}
				.item-prod__title{
					padding-bottom: 0;
				}
			}
			// box-shadow: 0 20px     rgba(175, 179, 187, 1);
		}
	}

}
.item-prod{

		&__btn-delete{


				@include mt;
				border: none;
				background: none;
				// position: relative;
				position: absolute;
				@include media-breakpoint-up(lg){

					left: 165px;
				}
				right: 0;
				top: 0;
				.icon{
					font-size: 11px;
				}
			}

	&--compare {
		box-shadow: none  ;
		border: none !important;
		padding-left: 0;
		padding-bottom: 1rem;
		min-height: 1px;
		background-color: #ffffff;
		&:hover{
			// bsh
			box-shadow: 0 2px 13px   rgba(175, 179, 187, 0);
		}
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 6px;
			background: linear-gradient(to bottom, rgba(175, 179, 187, .6) 0%,rgba(175, 179, 187, 0) 100%);
			opacity: 0;
			@include mt;
		}
		&.is_stuck{
			&::before{
				opacity: 1;

			}
			@include media-breakpoint-down(md) {
				.item-prod__img-wrap,
				.item-prod__price-wrap{
					display: none;
				}
				.item-prod__title{
					padding-bottom: 0;
				}
			}
			// box-shadow: 0 20px     rgba(175, 179, 187, 1);
		}
	}
	&--head{
		padding-bottom: 0;
	}
}

dt {
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}
