include ../mixin-wrap/form-wrap.pug
include ../mixin-wrap/mixin-wrap.pug
mixin modal()

	+form-wrap()(id="modal-inner" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title.h6 Вход в личный кабинет
		+input("text","Логин")(required pattern=".{3,}")
		+input("text","Пароль")(required pattern=".{3,}")
		//- +input("email","Ваше email")(required)
		//- +text( "Комментарий")
		+check("inner")
			+e.SPAN.text.small Запомнить меня
		+e.BUTTON.btn.btn.btn-block.btn-primary.mb-4(type="submit" ) Войти
		+e.foot.row.row--small.small.justify-content-center
			.col-auto
				a.popup-with-move-anim(href="#modal-password-recovery") Забыли пароль?
			.col-auto.text-gray  |
			.col-auto
				a.popup-with-move-anim(href="#modal-reg")    Регистрация
	// #modal-inner

	+form-wrap()(id="modal-password-recovery" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title.h6 Востановления пароля
		+input("email","Введите Ваш e-mail")(required pattern=".{3,}")

		+e.BUTTON.btn.btn.btn-block.btn-primary.mb-4(type="submit" ) Востановить пароль
		+e.foot.row.row--small.small.justify-content-center
			.col-auto
				a.popup-with-move-anim(href="#modal-inner") Вход в личный кабинет
			.col-auto.text-gray  |
			.col-auto
				a.popup-with-move-anim(href="#modal-reg")    Регистрация
	// #modal-password-recovery




	+form-wrap()(id="modal-password-recovery-2" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title.h6 Востановления пароля
		p Мы отправили на Ваш e-mail
			a(href="mailto:sample@sample.com") sample@sample.com
			| код для сброса пароля, введите его в поле ниже и измените пароль
		+input("text","Код из письма")(required pattern=".{3,}")
		+input("text","Новый пароль")(required pattern=".{3,}")
		+input("text","Подтвердите пароль")(required pattern=".{3,}")

		+e.BUTTON.btn.btn.btn-block.btn-primary.mb-4(type="submit" ) Изменить пароль
	// #modal-password-recovery-2

	+form-wrap()(id="modal-reg" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title.h6 Регистрация
		+input("text","Фамилия")(required pattern=".{3,}")
		+input("text","Имя")(required pattern=".{3,}")
		+input("email","E-mail")(required pattern=".{3,}")
		//- +input("text","E-mail")(required pattern=".{3,}")
		+input("text","Пароль")(required pattern=".{3,}")
		+input("text","Повторите пароль")(required pattern=".{3,}")
			.small.text-danger Пароли не совпадают
		//- +input("email","Ваше email")(required)
		//- +text( "Комментарий")
		+e.captcha
			img.res-i(src="img/captcha.png", alt="")
		+e.BUTTON.btn.btn.btn-block.btn-primary.mb-4(type="submit" ) Зарегистрироваться
		+e.foot.small.text-center  или
			|
			a.popup-with-move-anim(href="#modal-inner") Войдите
			|, если у вас уже есть аккаунт
		// добавил
		.policy-block.mb-0
			+check("inner")(checked)
				+e.SPAN.text.small Отправляя форму, я даю
					|
					a(href="#") согласие на обработку персональных данных
		// /добавил
	// #modal-reg
	+form-wrap()(id="modal-thanks" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title.h6 Благодарность
		img.res-i.mb-3(src="img/thank.jpg", alt="")
		p Текст благодарности в одну или несколько строк, также возможность использовать изображение под заголовком
		+e.BUTTON.btn.btn.btn-block.btn-primary.mb-4(type="submit" ) Продолжить покупки
	// #modal-thanks


	div(id="modal-prod" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg modal-form" )
		// start prod-head
		+b.prod-head.pt-0
			// add .arrow
			+e.arrow--prev(href="#")
				<svg viewBox="0 0 49 95" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M48 0.5L1 47.5L48 94.5" stroke="black"></path> </svg>
			+e.arrow--next(href="#")
				<svg viewBox="0 0 49 95" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M48 0.5L1 47.5L48 94.5" stroke="black"></path> </svg>
			// /add .arrow
			.container
				.d-lg-none
					+e.head-row.row.align-items-center.text-gray
						.col
							.h2.fw-900.ttu SLEEP
						.col-auto
							+b.availability
								+e.circle(style="background-color: #42d76b;")
								| В наличии
				.row
					.col-lg-6
						+e.sliders
							mixin sliders(...items)
								+e.slider-big
									each item in items
										+e.slide--big
											+e.A.img-wrap(href=`img/${item}.png` data-fancybox="images" )
												img.res-i(src="#" data-lazy=`img/${item}.png`, alt="")
								+e.slider-small--modal
									each item in items
										+e.DIV.slide--small
											+e.img-wrap--small( )
												img.res-i(src="#" data-lazy=`img/${item}.png`, alt="")
							+sliders("prod-1","prod-1","prod-1","prod-1","prod-1","prod-1","prod-1","prod-1","prod-1")
					.col
						.d-none.d-lg-block
							+e.head-row.row.align-items-center.text-gray
								.col
									.h2.fw-900.ttu SLEEP
						.row
							.col
								+e.artical
									small.text-gray Артикул:
									| m4568 988-65
							.col-auto
								+b.availability
									+e.circle(style="background-color: #42d76b;")
									| В наличии
						+e.caption.text-gray Текстильный шлем с предустановленными Ag/AgCl sintered электродами MCScap-T и общим разъемом DB25М
						+b.size-block
							.small.text-gray Размер:
							+e.btn-wrap
								mixin in-ch( n, t)
									+b.LABEL.btn-input
										+e.INPUT.input(type="radio" name= n)
										+e.SPAN.text= t


										//- block
								+in-ch("size-prod","XL")
								+in-ch("size-prod","XL/L")
								+in-ch("size-prod","L")
								+in-ch("size-prod","L/M")
								+in-ch("size-prod","M")
								+in-ch("size-prod","M/S")
								+in-ch("size-prod","S")
								+in-ch("size-prod","S/XS")
								+in-ch("size-prod","XS")
								+in-ch("size-prod","Inf I")
								+in-ch("size-prod","Inf II")
								+in-ch("size-prod","Inf III")
						+e.price-block
							.small.text-gray Цена:
							+e.price
								span.h2.text-primary.fw-900 12 415
								span.text-gray.ttu.small руб
							.small.text-gray.mb-2 Количество
							.row.row--small
								.col-auto
									+b.block-add
										+e.btn--minus
										input.form-control(type="text" value="25")
										+e.btn--plus.btn
								.col
									+e.A.btn.btn.w-100(href="#")
										+icon("basket")
										| В корзину
									// внизу вид кнопки при добавлении товара в корзину

									// +e.A.btn.btn.active.btn-primary(href="#")
											+icon("basket")
											| В корзине

						// +e.price-block
						+e.foot.text-right
							+e.A.btn-more.btn.btn-outline-primary-l(href="#") Подробнее о товаре



		// end prod-head
	// #modal-prod


	+form-wrap()(id="modal-hello" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		.text-center
			+e.img-wrap.mb-3
				img(src="img/logo.png", alt="")

			.h4.pb-3 Добро пожаловать!
			p.pb-3 Вы успешно зарегистрировали
				br
				| Ваш личный кабинет

		+e.btn.btn.btn-block.btn-primary.popup-with-move-anim(href="#modal-inner") Войти в личный кабинет
	// #modal-hello


	+form-wrap()(id="modal-call-back" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.title.h6 Заполните данные
		+input("text","Телефон")(required pattern=".{3,}")
		+input("email","E-mail")(required pattern=".{3,}")
		+input("text","ФИО")(required pattern=".{3,}")
		//- +input("text","E-mail")(required pattern=".{3,}")
		+input("text","Название компании")(required pattern=".{3,}")
		+input("textarea","Ваши комментарии")(required pattern=".{3,}")
		//- +input("email","Ваше email")(required)
		//- +text( "Комментарий")
		.form-group
			label
				.add-file-wrap
					span.add-file-title Прикрепите изображение
					+b.add-file-btn
						+e.dot
						+e.dot
						+e.dot
					+e.INPUT.input.add-file-input(type = 'file')

		+e.BUTTON.btn.btn.btn-block.btn-primary.mb-4(type="submit" ) Отправить
		.policy-block.mb-0
			+check("inner")(checked)
				+e.SPAN.text.small Я ознакомился с
					|
					a(href="#") правилами,
					|
					a(href="#") политикой конфиденциальности
					| и принимаю их условия
	// modal
