mixin s-slider()
	// start s-slider
	+b.s-slider-wrap.d-none.d-sm-block
		+e.wrap
			.container
		+b.s-slider
			mixin sl()
				+e.slide(href="#")
					//- .container
					+e.left-bg(style="background-color: #F9D908; ")
					+e.right-bg(style="background-color: #F9D908; ")
					img(src="img/banner.jpg", alt="")
				// / +e.slide(style="background-color: #F9D908;")
			+sl("Расшифровка заголовка с возможностью перейти на большую статью при помощи кнопки")
			+sl("Расшифровка заголовка с возможностью перейти на большую статью при помощи кнопки")
			+sl("Расшифровка заголовка с возможностью перейти на большую статью при помощи кнопки заголовка с возможностью перейти на большую статью при помощи кнопки")
	// end s-slider
