.aside {
	@include media-breakpoint-up(lg) {
		// margin-right: 0;
		// margin-left: rem(-15);
	}
	margin-bottom: 30px;
	// margin-right: rem(-15);
	// height: 100%;

	// display: flex;
	// align-items: stretch;
	&__nav {

		// background-color: $info-light;
		height: 100%;
		border-radius: 5px;
		
		
		@include media-breakpoint-up(lg) {
			// padding: 30px 30px 60px;
		}

		display: none;
		// padding: 30px 30px;
	}

	&__item {
		// margin-bottom: rem(20);
	}

	&__link {
		background-color: #eaf3f2;
		border-bottom: 1px solid #fff;
		color: $body-color;
		display: block;
		padding: 18px 24px;
		text-decoration: none !important;
		&--active {
			color: $primary;
		}
	}

	&__btn {
		outline: none !important;
		box-shadow: none !important;
		// border-radius: 0;
		margin-bottom: 10px;

	}

	//
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background: $primary;
	border: none !important;
	
}
.ui-slider{
&-handle{
	width: $small !important;
	height: $small !important;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	background: $primary;
	border-radius: 50%;
	margin-top: -2px;
	cursor: pointer;
	@include mt;
	&:hover,
	&:focus{
		border: 2px solid $primary;
	}
}

} 

.ui-slider-horizontal {
height: 3px;
// top: 1px;
// margin-top: 2px;
.ui-slider-range{
height: 3px;

background-color: $info;
border: none;
}
}

.ui-widget.ui-widget-content{
background-color: #c4c4c4;
}

.showhide {
	cursor: pointer;
}

.showhide-all {
	display: none;
}

.catalog-title {
	@include media-breakpoint-up(xl) {

		padding-bottom: em(25);
	}
}
.hover-block{
	&.active{
		.showhide-all{
			display: block;
		}
	}
}

.aside-filter {
display: none;
margin-bottom: 30px;
	&__group {

		// background-color: $info-light;
		&:not(:last-child){

			border-bottom: 2px solid #e2edf5;
		}

		&.active {
			.showhide::after {
				@include transform(rotate(90deg));
			}
		}
	}

	&__main-title {
		border-bottom: 1px solid $primary;
		padding-bottom: 18px;
	}

	&__reset {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 15px;

		.icon {
			font-size: 14px;
			color: #000000;
			margin-right: 12px;


		}
	}

	&__title {
		padding: 15px 10px;
		position: relative;

		&::after {
			// content: url(../img/arr.png);
			@include fal("\f105");
			font-size: rem(26);
			color: #9f9f9f;
			position: absolute;
			right: rem(10);
			top: 50%;
			margin-top: rem(-14px);
			display: inline-block;
			@include mt;
			// height: 22px;
			// @include transform( rotate(270deg));

		}
	}

	.showhide-all{
		padding: 5px 12px 25px;
	}
	.row{
		justify-content: space-between;
	}
	&__input{
		input{

			text-align: center;
			width: 80px;
			height: 35px;
			border-radius: 2px;
			border: 1px solid #9badb6;
			background-color: #ffffff;
			font-size: 12px;
			margin-bottom: 15px;
		}
	}
	.custom-input{
		margin-bottom: 12px;
	}
	.custom-input__input[type="checkbox"] + .custom-input__lab{
			width: $em-base;
			height: $em-base;
			border-radius: 2px;
			border: 1px solid #9badb6;
			background-color: #ffffff;
		}
		.custom-input__input:checked + .custom-input__lab{
			background-color: $primary;
			border-color: $primary;
			&::after {
				opacity: 1;
				font-size: 10px;
				color: #000000;
			}
		}
	} 

	.aside-filter__range{
		margin-top: -25px;
		.irs{
			height: 30px;
		}
		.irs-bar{
			top: 20px;
			height: 5px;
			background: #0085a0;
		}
		.irs-line,
		.irs-line-mid{
			background: #c4c4c4;
			height: 3px;
			top: 21px;
		}
		.irs-slider{
			background:  #F55F00;
			border: none;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			width: 14px;
			height: 14px;
			top: 15px;
		}
	}