extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-pick-up/_s-pick-up.pug
include ../blocks/s-download/_s-download.pug
include ../blocks/s-about/_s-about.pug

block title
	title Главная

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		//- +top-nav()
		+top-nav-b()
		
	+header-block()

	+s-slider
	+s-catalog
	+s-pick-up
	+s-download
	+s-about

	//- +s-form()
	//- +s-contact()
	+footer()
	
	