include ../mixin-wrap/mixin-wrap.pug
mixin kart-body()
	// start kart-body
	+b.kart-body
		.container
			+b.tabs
				+e.caption
					+e.btn: span Обзор
					+e.btn: span Характеристики
					+e.btn: span Состав комплекта
					+e.btn: span Размеры шлемов
					+e.btn.active: span Совместимость с ЭГ усилителями
				+e.wrap
					+e.content
						.row
							.col-lg-7
								+e.text
									.strong Шлем SLEEP – это текстильный шлем с предустановленными Ag/AgCl sintered электродами MCScap-T и общим разъемом DB25М.
									.p Тонкие электроды и выход электродного шлейфа на макушке головы обеспечивают комфорт пациента при длительном ЭЭГ мониторинге в положении лежа и во время сна, а также подходят для регистрации ЭЭГ у маленьких деток и новорожденных.

									.p Электроды имеют дополнительную маркировку, что позволяет легко сменить текстильную основу при ее износе.
									.p Область применения: рутинная ЭЭГ, ЭЭГ сна, ТМС-ЭЭГ
							.col-lg-5
								+b.A.video-play.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto" style="background-image: url(img/prod-1.png);")
									+icon("play")
									+e.title Шлем SLEEP

					mixin tab()
						+e.content
							.row
								.col-lg-7
									+e.text
										.strong Шлем SLEEP – это текстильный шлем с предустановленными Ag/AgCl sintered электродами MCScap-T и общим разъемом DB25М.
										.p Тонкие электроды и выход электродного шлейфа на макушке головы обеспечивают комфорт пациента при длительном ЭЭГ мониторинге в положении лежа и во время сна, а также подходят для регистрации ЭЭГ у маленьких деток и новорожденных.

										.p Электроды имеют дополнительную маркировку, что позволяет легко сменить текстильную основу при ее износе.
										.p Область применения: рутинная ЭЭГ, ЭЭГ сна, ТМС-ЭЭГ
								.col-lg-5
									+b.A.video-play.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto" style="background-image: url(img/prod-1.png);")
										+icon("play")
										+e.title Шлем SLEEP

					+e.content
						mixin tr(t1, t2)
							tr
								td= t1
								td= t2
						+e.table-wrap
							+e.table-title Характеристики
							+e.TABLE.table
								+tr("Максимальная разность потенциалов","не более 50 мВ")
								+tr("Сопротивление изоляции электродов","не менее 1000 МОм")
								+tr("Максимальная разность потенциалов","не более 50 мВ")
								+tr("Сопротивление изоляции электродов","не менее 1000 МОм")
						+e.table-wrap
							+e.table-title Характеристики
							+e.TABLE.table
								thead
									tr
										th Размер
										th Вес и габариты ШхВхГ, мм
								tbody
									+tr("S/XS","280 гр,  100 х 250 х 55")
									+tr("Inf I","280 гр,  100 х 250 х 55")
									+tr("Inf II","280 гр,  1000 х 250 х 55")
									+tr("Inf III","280 гр,  100 х 250 х 55")
					+tab()
					+tab()
					+e.content.active
						+e.table-wrap--compatibility
							+e.TABLE.table--compatibility
								thead
									tr
										th
											span.title Модель ЭЭГ усилителя
											span.d-flex
												+icon('search')
												| Введите название
												br
												| производителя или усилителя
										th
											span.title Стандартное исполнение электродного шлема
											| разъем D-sub DB25 Male
										th
											span.title Стандартное исполнение ELECTRODE SET
											|	разъем TouchProof
										th
											span.title Заказное исполнение электродного шлема
											|	полная схема для данного усилителя
										th
											span.title Комбинированное исполнение электродного шлема
											|	разъем D-SUB DB25 Male
								tbody
									tr
										td(data-toggle="tooltip-table" data-placement="bottom" title="<img src='img/type-prod.png'/>" )
											span.name NVX24
											| ООО "МКС"
										td
											span.compatible
												+icon('check')
										td
											span.not-compatible
										td
											span.compatible
												+icon('check')
										td
											span.compatible
												+icon('check')
									tr
										td(data-toggle="tooltip-table" data-placement="bottom" title="<img src='img/type-prod.png'/>" )
											span.name Мицар-ЭЭГ-03/35-201
											| ООО "МКС"
										td
											span.compatible
												+icon('check')
										td
											span.not-compatible
										td
											span.text Под заказ
										td
											span.text Необходим адаптер TP2DB25F
									tr
										td(data-toggle="tooltip-table" data-placement="bottom" title="<img src='img/type-prod.png'/>" )
											span.name Мицар-ЭЭГ-03/35-201
											| ООО "МКС"
										td
											span.compatible
												+icon('check')
										td
											span.not-compatible
										td
											span.text Необходим адаптер TP2DB25F
										td
											span.text Необходимы ушные электроды
									tr
										td(data-toggle="tooltip-table" data-placement="bottom" title="<img src='img/type-prod.png'/>" )
											span.name Мицар-ЭЭГ-03/35-201
											| ООО "МКС"
										td
											span.compatible
												+icon('check')
										td
											span.not-compatible
										td
											span.text Необходим адаптер TP2DB25F
										td
											span.text Необходимы ушные электроды

						p.text-gay Не нашли свой усилитель?  Свяжитесь, пожалуйста, с нами: +7 499 404-31-41,
							a.text-primary(href='mailto:shop@mcscap.ru') shop@mcscap.ru
							| или
							a.text-primary.popup-with-move-anim(href='#modal-call-back') по форме обратной связи




	// end kart-body
