.tabs {
  @include media-breakpoint-down(xs) {
    // margin-top: 0;
    .video-play {
      margin-left: -15px;
      margin-right: -15px;
      border-radius: 0;
    }
  }
  // margin-top: 25px;
  margin-bottom: 25px;

  &__caption {
    @include media-breakpoint-up(md) {

      border-bottom: 1px solid $gray;
    }

    .slick-track {

      // padding-bottom: 5px;
      // margin-top: 5px;

      border-bottom: 1px solid $gray;
      margin-bottom: -1px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
      }
      @include media-breakpoint-up(xl) {
        width: 100% !important;
        transform: translate3d(0px, 0px, 0px) !important;
      }
    }
  }

  &__btn {
    cursor: pointer;

    text-align: center;

    @include mt;
    color: $gray;
    display: flex;
    height: 70px;
    line-height: 70px;

    span {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;

      &::after {
        content: '';
        height: 6px;
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.11);
        border-radius: 5px;
        background-color: $primary;
        left: 0;
        top: 100%;
        @include media-breakpoint-down(sm) {
          margin-top: rem(23px);
        }
        // width: 100%;
        margin-top: em(3);
        position: absolute;
        opacity: 0;
        width: 0;
        @include mt;
      }

    }

    &:hover,
    &.active {
    }

    &.active {
      @include media-breakpoint-up(lg) {

        font-size: $h4-font-size;
      }
      color: #000000;

      span {
        &::after {
          opacity: 1;
          width: 100%;
        }
      }
    }


  }

  &__wrap {
    padding-top: 40px;

  }

  &__text {
    .strong, .p {
      margin-bottom: 1.5em;
    }

    .p {
      color: $gray;
    }
  }

  &__table-title {
    @extend .h5;
  }

  &__table {
    border-collapse: separate;
    width: 100%;
    margin-bottom: 30px;
    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }

    tbody tr {

      &:nth-child(even) {
        background: #F3F3F3;
      }

      &:nth-child(odd) {
        background: #F2F8F8;
      }

    }

    td {
      padding: 10px 10px;
      @include media-breakpoint-up(lg) {

        width: 50%;
      }
    }

    th {
      font-weight: normal;
      @extend .text-gray;
      padding: 5px 0;
    }

    &--compatibility {
      & thead {
        font-size: 11px;

        & .title {
          font-size: 15px;
          color: black;
          font-weight: bold;
          margin-bottom: 5px;
        }

        & span {
          display: block;
        }

        & .icon {
          font-size: 20px;
          color: black;
          margin-right: 10px;
        }
      }
      textarea{
        resize: none;
        border: none;
        flex-grow: 1;
        padding-right: 40px;
        color: #858585
      }


      & th {
        width: 20%;
      }

      & tr {
        position: relative;

        &:before {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          background-color: #D5D5D5;
          width: 100%;
          border: none;
          z-index: 10;
        }
      }

      & td {
        width: 20% !important;
        background-color: #ffffff;
        font-size: 12px;
        line-height: 14px;
        color: #C4C4C4;
      }

      & tbody {
        & .text {
          font-size: 15px;
          line-height: 18px;
          color: #000000;
        }

        & .name {
          color: #1C9B91;
          font-size: 15px;
          line-height: 18px;
          display: block;
        }

        & .sub-name {
          font-size: 12px;
          line-height: 14px;
          color: #C4C4C4;
        }

        & .compatible {
          font-size: 20px;
          color: #1C9B91;

          & .icon {
            font-size: 20px;
          }
        }

        .not-compatible {
          display: block;
          width: 15px;
          height: 1px;
          background-color: black;
        }
      }
    }
  }
}

.video-play {
  @include block(471, 265);
  color: #ffffff !important;
  @include bgs;
  border-radius: 5px;
  // position: relative;
  overflow: hidden;

  .icon {
    position: absolute;
    @include a-cent();
    font-size: 62px;
    margin-top: -10px;
    z-index: 2;
  }

  &__title {
    @include a-cent();
    margin-top: 50px;
    z-index: 2;

  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $body-color;
    opacity: 0.5;
  }
}


//
//.tooltip-table {
//  opacity: 1 !important;
//  margin-top: -10px;
//  margin-left: -11%;
//  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
//  border-radius: 5px;
//  pointer-events: none;
//  & img{
//    max-width: 166px;
//  }
//  & .tooltip-inner {
//    background-color: #ffffff;
//    overflow: hidden;
//    padding: 29px 13px 32px 22px;
//    max-width: 201px;
//    max-height: 201px;
//  }
//}
//
//.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
//  display: none;
//}
//.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
//  display: none;
//}
//.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
//  display: none;
//}
//.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
//  display: none;
//}

//.tabs__table-wrap--compatibility {
//  overflow-y: auto;
//}

.tooltip-wrapper {
  position: relative;
  &:hover {
    & .tooltip-table {
      display: block;
    }
  }
}

.tooltip-table {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 201px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  pointer-events: none;
  padding: 10px;
  display: none;
  background-color: #ffffff;
  transform: translateY(100%);
  z-index: 25;
}

.tooltip-table-img {
  max-width: 166px;
}
