mixin s-patner()
	// start s-patner
	+b.s-patner.section.pt-0
		.container
			+b.section-title
				.h5.fw-900.ttu Наши клиенты
			p Серийные изделия МКС приобретаются государственными и частными медицинскими учреждениями, производителями  медицинской техники, частными пользователями. Продуманные условия в области скидок, логистики поставок и сервисного обслуживания позволяют нашим дистрибуторов эффективно выполнять запросы клиентов.

			p В области индивидуальных решения наши клиенты представляют российские предприятия, министерства и ведомства, исследовательские институты, а также фирмы из стран Европы и США. Некоторые из них — мировые лидеры в своих направлениях. Мы принимали участие в создании ряда медико-биологических приборов для космической станции МИР и Международной Космической Станции.
			+e.slider
				- for (var x = 1; x < 7; x++)
					+e.slide.text-center
						a(href="#"): img.res-i(src="#" data-lazy=`img/patner-${x}.png`, alt="")
				
				- for (var x = 1; x < 7; x++)
					+e.slide.text-center
						a(href="#"): img.res-i(src="#" data-lazy=`img/patner-${x}.png`, alt="")
				
	// end s-patner