extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

//- include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-catalog/_s-catalog.pug
//- include ../blocks/s-pick-up/_s-pick-up.pug
//- include ../blocks/s-download/_s-download.pug
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/prod-head/_prod-head.pug
//- include ../blocks/kart-body/_kart-body.pug
//- include ../blocks/s-order/_s-order.pug
include ../blocks/aside/_aside.pug
include ../blocks/s-basket/_s-basket.pug
include ../blocks/s-po/_s-po.pug

block title
	title Личный кабинет 2

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()

	.page-border-top
	.container
		+breadcrumb("Личный кабинет", "Главная" )
		.page-title
			.h2.text-gray.fw-900.ttu Личный кабинет
	//- +prod-head()
	//- +kart-body()

	+b.s-po
		.container
			.row
				.col-lg-3
					+aside
				.col
					+e.TABLE.table-history
						mixin tr-block()
							tr.tr-history
								td №659963
								td 19 ноября 2019г.   17:80
								td
									// убрал span  с  классами
									|  12 000 466    руб.
								td.text-lg-right
									block
									+e.toggle
										+icon('arr-right')
							tr.tr-toggle.tr-toggle--js
								td(colspan="4")
									.inner-block
										+e.head
											.row

												.col-auto.d-none.d-lg-block
													.small.text-gray Досставка:
												.col
													div Викторов Александр Валериевич
													div Россия, г. Анадырь, ул. Кожевникова, д36
												.col-md-auto
													.text-md-right
														div Оплата по счету
														// изменил классы
														+e.link-print.text-gray.tdu(href="#")
															+icon("print")
															| Распечатать счет на оплату
										// start s-basket
										+b.s-basket
											table.w-100
												mixin tr(i)
													tr
														td
															+e.img-wrap.text-center(href="#")
																img.res-i(src=`img/prod-${i}.png`, alt="")
														td
															+e.A.title.text-body(href="#") MCScap 10-20 c кольцами XL/L
														td
															.w-100.text-gray.small.mb-2 Цена:
															.h5.mb-0 25 х 15 000 Р

														td
															.w-100.text-gray.small.mb-2 Cумма:
															.h5.mb-0 1 253 000 Р
												+tr("1")
												+tr("2")
											.text-right
												.small.text-gay Итого за товар:
												.h5 12 000 000 Р
												div
													strike 12 000 000 Р
													|
													|
													span.smallest 253 000 Р скидка
												.small.text-gay Доставка:

												.h5 1 200 Р

												.small.text-gay Итого с учетом доставки:

												.h5 12 001 200 Р

											+e.A.btn(href="#") Повторить заказ
										// end s-basket
						+tr-block()
							+e.label-status--shipped.--js(data-toggle="popover" data-trigger="hover" data-content='Отправлен')
								+icon('shipped')

						+tr-block()
							+e.label-status--pay.--js(data-toggle="popover" data-trigger="hover" data-content='Оплачен')
								+icon('pay')

						+tr-block()
							+e.label-status--check.--js(data-toggle="popover" data-trigger="hover" data-content='Завершен')
								+icon('check')

						+tr-block()
							+e.label-status--wallet.--js(data-toggle="popover" data-trigger="hover" data-content='Подтвержден, ожидает оплаты')
								+icon('wallet')

						+tr-block()
							+e.label-status--close.--js(data-toggle="popover" data-trigger="hover" data-content='Отменен')
								+icon('close')



	+footer()

