extends layout/main.pug


include ../blocks/s-content/_s-content.pug
//- include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-patner/_s-patner.pug
//- include ../blocks/s-contact/_s-contact.pug

//- include ../blocks/s-slider/_s-slider.pug
//- include ../blocks/s-catalog/_s-catalog.pug
//- include ../blocks/s-pick-up/_s-pick-up.pug
//- include ../blocks/s-download/_s-download.pug
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/prod-head/_prod-head.pug
//- include ../blocks/kart-body/_kart-body.pug

block title
	title О компании

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()

	.page-border-top
	.container
		+breadcrumb("О компании", "Главная")
		.page-title
			.h2.text-gray.fw-900.ttu О компании

	//- +prod-head()
	//- +kart-body()
	+b.s-content
		.container
			+e.img-head
				img.res-i(src="img/about-img.jpg", alt="")
			+e.row.row
				.col-xl-7.col-lg-8
					p С 1993 года МКС специализируется в разработке и производстве высокотехнологичных медицинских изделий. Проекты охватывают широкий спектр диагностического и терапевтического оборудования: электрокардиографы, электроэнцефалографы, автоматические дефибрилляторы, реанимационные массажеры, ЭЭГ/ЭКГ электроды, приборы для биофизических исследований.
					p МКС производит компьютерные приборы и комплексы неинвазивного скрининга на основе новейших методов анализа биомедицинских сигналов. Широко известны «Кардиовизор», «АПК Здоровье-Экспресс», обеспечивающие экспресс-диагностику состояния пациентов в тысячах медицинских учреждений России и за рубежом. Успешно эксплуатируется Интернет-сервис kardi.ru для оценки состояния сердца в условиях повседневной жизнедеятельности пациента с использованием персонального мобильного ЭКГ терминала и облачных технологий анализа.
					p Область медицинской электроники — высокостабильный рынок с внутренними и международными стандартами и руководящими принципами. Принятие во внимание этих инструкций и необходимых требований в начале проекта экономит время, деньги и исключает разочарование в процессе разработки. МКС имеет ценный опыт сертификации изделий медицинского назначения в России, получения CE в Западной Европе и одобрения от FDA в США. МКС поддерживает сертифицированную систему управления качеством согласно актуальным Российским требованиям, международным стандартам DIN EN ISO 9001, DIN EN ISO 13485, а также европейской Директиве 93/42/EEC о медицинских изделиях.
					p Мультидисциплинарная команда инженеров и исследователей объединяет молодых сотрудников и опытных профессионалов. В компании работают эксперты, имеющие ученые степени в области биомедицинской инженерии или в области медицинских наук.
				.col-xl-5.col-lg-4
					.text-center
						+e.img-aside
							img.res-i(src="img/logo-1.png", alt="")
						+e.img-aside
							img.res-i(src="img/logo-2.png", alt="")
						+b.aside-slider
							- for (var x = 0; x < 3; x++)
								+e.slide
									+e.A.item.img-bg(href="img/prod-1.png" data-fancybox="images" style="background-image: url(img/prod-1.png);")
										img(src="img/prod-1.png", alt="")
			+e.row--foot.row
				.col-xl-7.col-lg-8
					+e.title.h5.fw-900.ttu Инновации, прототипирование и верификация
					p Инновационный подход — ключ к созданию конкурентноспособного продукта, успешно продвигаемого на рынке. Новые технологии интегрируются в наши изделия и в решения для наших клиентов. Мы первые стали применять многоразрядное сигма-дельта преобразование для биомедицинских устройств. Цифровая обработка сигнала, современные эффективные алгоритмы, встроенные операционные системы реального времени, передовые методы разработки используются нашими инженерами.
					p При разработке широко используется прототипирование. Это может быть компьютерный анализ в программах моделирования или физическое изготовление прототипов и последующие измерения. МКС использует полные циклы компьютерной разработки аналоговых и цифровых схем, микроконтроллеров, цифровых сигнальных процессоров, программирования драйверов, твердотельного трехмерного моделирования, верификации и валидации. Посредством использования новейших проверенных инструментов процессу разработки придается гибкость и надежность.
					p Как часть программы разработки, в конце каждого этапа проводится верификационное тестирование, для того чтобы гарантировать успешное приближение к финишной точке проекта. После завершения фазы разработки, организуются испытания, чтобы выявить любые недостатки относительно первоначальных целей проекта. Для большей объективности
				.col-xl-5.col-lg-4
					+e.title.h5.fw-900.ttu  Цели
					.text-gray
						ul
							li Разработка и производство изделий мирового уровня востребованных обществом: медицинского диагностического и лечебно-терапевтического оборудования и принадлежностей,  приборов и решений для персональной медицины, оборудования для биофизических исследований.
							li Создание и поддержка системы разработки и производства, обеспечивающей уровень качества, необходимый для удовлетворения требований потребителей и достаточный для соответствия требованиям законодательства и нормативной документации.
							li Формирование маркетинговых предложений и продвижение своей продукции на рынках России, Европейского союза и других стран. Организация поддержки потребителей в разных странах.

							li Контрактная разработка и производство изделий в зоне своих интересов.
	//- +s-form()
	//- +s-contact()
	+s-patner()
	+footer()

