extends layout/main.pug


include ../blocks/s-content/_s-content.pug
//- include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-patner/_s-patner.pug
//- include ../blocks/s-contact/_s-contact.pug

//- include ../blocks/s-slider/_s-slider.pug
//- include ../blocks/s-catalog/_s-catalog.pug
//- include ../blocks/s-pick-up/_s-pick-up.pug
//- include ../blocks/s-download/_s-download.pug
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/prod-head/_prod-head.pug
//- include ../blocks/kart-body/_kart-body.pug

block title
	title Публичная оферта

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
		
	.page-border-top

	.container
		+breadcrumb("Публичная оферта", "Главная")
		.page-title
			.h2.text-gray.fw-900.ttu Публичная оферта
	+b.s-content
		.container
			.h5.fw-900.ttu  Основные понятия
			ul
				li 
					strong Посетитель Сайта 
					|
					| — лицо, пришедшее на сайт http://mcscap.ru без цели размещения Заказа.
				li 
					strong Пользователь 
					|
					| — физическое лицо, посетитель Сайта, принимающий условия настоящего Соглашения и желающий разместить Заказы в Интернет-магазине.
				li 
					strong Покупатель 
					|
					| — Пользователь, разместивший Заказ в Интернет-магазине.
				li 
					strong Продавец 
					|
					| — ООО "Биомедицинские приборы" (Юридический адрес: 124460, Москва, Зеленоград, проезд 4922, д.4,стр.2, ОГРН 1157746407720; тел.: (499) 346-72-71; email: bmd@biomedd.ru).
				li 
					strong Интернет-магазин 
					|
					| — Интернет-сайт, принадлежащий ООО "МКС", расположенный в сети интернет по адресу http://mcscap.ru, где представлены Товары, а также условия оплаты и доставки Товаров Покупателям.
				li 
					strong Сайт 
					|
					a(href="http://mcscap.ru" target="_blank") — http://mcscap.ru.
				li 
					strong Товар 
					|
					| — объект соглашения сторон, перечень наименований ассортимента, представленный в официальном интернет-магазине.
				li 
					strong Заказ 
					|
					| — должным образом оформленный запрос Покупателя на приобретение и доставку по указанному Покупателем адресу / посредством самовывоза Товаров, выбранных на Сайте.
 
			ol
				li 
					.h5.fw-900.ttu Общие положения
					ol 
						li Продавец осуществляет продажу Товаров через Интернет-магазин по адресу 
							|
							a(href="http://mcscap.ru" target="_blank") — http://mcscap.ru
							|.
						li Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи Товаров, изложенными ниже. В случае несогласия яользователь обязан немедленно прекратить использование сервиса и покинуть сайт — 
							|
							a(href="http://mcscap.ru" target="_blank") http://mcscap.ru
							|.
						li Настоящие Условия продажи товаров, а также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и п.2 ст.437 Гражданского кодекса Российской Федерации.
						li Соглашение может быть изменено Продавцом в одностороннем порядке без уведомления Пользователя/Покупателя. Новая редакция Соглашения вступает в силу по истечении 10 (Десяти) календарных дней с момента ее опубликования на Сайте, если иное не предусмотрено условиями настоящего Соглашения.
						li Публичная оферта признается акцептованной Посетителем Сайта / Покупателем с момента регистрации Посетителя на Сайте, оформления Покупателем Заказа без авторизации на Сайте, а также с момента принятия от Покупателя Заказа по телефону +7 499 404-31-41. Договор розничной купли-продажи считается заключенным с момента выдачи Продавцом Покупателю кассового или товарного чека либо иного документа, подтверждающего оплату товара. Сообщая Продавцу свой e-mail и номер телефона, Посетитель Сайта/Пользователь/Покупатель дает согласие на использование указанных средств связи Продавцом, а также третьими лицами, привлекаемыми им для целей выполнения обязательств перед Посетителями Сайта/Пользователями/Покупателями, в целях осуществления рассылок информационного характера, содержащих информацию о передаче заказа в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств Покупателем в рамках настоящей Публичной оферты.
						li Осуществляя Заказ, Пользователь/Покупатель соглашается с тем, что Продавец может поручить исполнение Договора третьему лицу, при этом оставаясь ответственным за его исполнение.
			
			 
				li 
					.h5.fw-900.ttu Предмет соглашения
					ol 
						li Предметом настоящего Соглашения является предоставление возможности Пользователю приобретать Товары, представленные в каталоге Интернет-магазина по адресу 
							| 
							a(href="http://mcscap.ru/kak-zakazat/" target="_blank") http://mcscap.ru.
							| 
						li Данное Соглашение распространяется на все виды Товаров и услуг, представленных на Сайте, пока такие предложения с описанием присутствуют в каталоге Интернет-магазина
			
			 
				li 
					.h5.fw-900.ttu Товар и порядок совершения покупки
					ol 
						li Продавец обеспечивает наличие на своем складе Товаров, представленных на Сайте. Сопровождающие Товар фотографии являются простыми иллюстрациями к нему и могут отличаться от фактического внешнего вида Товара. Сопровождающие Товар описания/характеристики не претендуют на исчерпывающую информативность и могут содержать опечатки. Для уточнения информации по Товару Покупатель должен обратиться к Продавцу путем телефонного звонка на горячую линию.
						li В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе исключить указанный Товар из Заказа / аннулировать Заказ Покупателя, уведомив об этом Покупателя путем направления соответствующего электронного сообщения по адресу, указанному Покупателем при регистрации (либо звонком оператора).
						li В случае аннуляции полностью либо частично предоплаченного Заказа стоимость аннулированного Товара возвращается Продавцом Покупателю способом, которым Товар был оплачен.
						li Заказ Покупателя оформляется в соответствии с процедурами, указанными на Сайте в разделе «Как заказать» по адресу
							|
							a(href="http://mcscap.ru/kak-zakazat/" target="_blank") http://mcscap.ru/kak-zakazat/
							|.
						li Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
						li После оформления Заказа на Сайте Покупателю предоставляется информация о предполагаемой дате доставки путем направления электронного сообщения по адресу, указанному Покупателем при регистрации, или по телефону. Менеджер, обслуживающий данный Заказ, уточняет детали Заказа, согласовывает дату доставки, которая зависит от наличия заказанных Товаров на складе Продавца и времени, необходимого для обработки и доставки Заказа.
						li Ожидаемая дата передачи Заказа в Службу доставки сообщается Покупателю менеджером, обслуживающим Заказ, по электронной почте или при контрольном звонке Покупателю.
						li Дата передачи Товара может быть изменена Продавцом в одностороннем порядке в случае наличия объективных, по мнению Продавца, причин.
			



	//- +prod-head()
	//- +kart-body()
	+b.s-content
		.container
			  
	+footer()
	
	