extends layout/main.pug


include ../blocks/s-content/_s-content.pug
//- include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-patner/_s-patner.pug
//- include ../blocks/s-contact/_s-contact.pug

//- include ../blocks/s-slider/_s-slider.pug
//- include ../blocks/s-catalog/_s-catalog.pug
//- include ../blocks/s-pick-up/_s-pick-up.pug
//- include ../blocks/s-download/_s-download.pug
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/prod-head/_prod-head.pug
//- include ../blocks/kart-body/_kart-body.pug

block title
	title Пользовательское соглашение

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
		
	.page-border-top

	.container
		+breadcrumb("Пользовательское соглашение", "Главная")
		.page-title
			.h2.text-gray.fw-900.ttu Пользовательское соглашение
	+b.s-content
		.container
		 
			ol
				li 
					.h5.fw-900.ttu  ОБЩИЕ ПОЛОЖЕНИЯ
					ol 
						 
						li Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Интернет-магазина «Медицинские Компьютерные Системы», расположенному по адресу 
							a(href="http://mcscap.ru") http://mcscap.ru
							|.

						li Сайт Интернет-магазина «Медицинские Компьютерные Системы» (далее – Сайт) является собственностью ООО "МКС"

						li Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-магазина «Медицинские Компьютерные Системы» (далее – Администрация сайта) и Пользователем данного Сайта.

						li Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.

						li Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.

						li Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.
				li 
					.h5.fw-900.ttu  ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
					ol 
						li Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:
							ol
								li «Медицинские Компьютерные Системы» – Интернет-магазин, расположенный на доменном имени www.mcscap.ru, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.

								li Интернет-магазин – сайт, содержащий информацию о Товарах, Продавце, позволяющий осуществить выбор, заказ и (или) приобретение Товара.

								li Администрация сайта Интернет-магазина – уполномоченные сотрудники на управления Сайтом, действующие от имени ООО "МКС".

								li Пользователь сайта Интернет-магазина (далее ‑ Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
				
				li 
					.h5.fw-900.ttu  ПРЕДМЕТ СОГЛАШЕНИЯ
					ol 
						 
						li Предметом настоящего Соглашения является предоставление Пользователю Интернет-магазина доступа к содержащимся на Сайте Товарам и оказываемым услугам.

						li Интернет-магазин предоставляет Пользователю следующие виды услуг (сервисов):
							br
							|
							| доступ к средствам поиска и навигации Интернет-магазина;
							br
							|
							| доступ к информации о Товаре и к информации о приобретении Товара;
							br
							|
							| иные виды услуг (сервисов), реализуемые на страницах Интернет-магазина.

						li Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Интернет-магазина, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Интернет-магазина.

						li Доступ к Интернет-магазину предоставляется на бесплатной основе.

						li Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению.

						li Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации
				li 
					.h5.fw-900.ttu  ПРАВА И ОБЯЗАННОСТИ СТОРОН
					ol 
						li  
							strong Администрация сайта вправе:
							ol
								li  Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.

								li  Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.
						li  
							strong Пользователь вправе:
							ol
								li   Получить доступ к использованию Сайта.

								li   Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Товары, предлагаемые на Сайте.
								li   Задавать любые вопросы, относящиеся к услугам Интернет-магазина по реквизитам, которые находятся в разделе Сайта «Контакты».

								li  Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.
				
	//- +prod-head()
	//- +kart-body()
	+b.s-content
		.container
			  
	+footer()
	
	